<div fxLayout="column">
  <div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="10px">
    <div fxFlex="25%" fxLayoutAlign="center">
      <img src="{{setting.image.url}}" alt="Project Logo" class="project-logo">
    </div>

    <div fxLayout="column" fxLayoutAlign="center">
      <div>
        <h3>
          RUMIGEN is a multi-actor project aiming to improve genetic tools in bovine breeds through the addition of new
          traits such as heat tolerance, and epigenetic information.
        </h3>
      </div>
      <div>
        <h3>
          <a href="{{setting.url}}" target="_blank"> {{setting.url}} </a>
        </h3>
      </div>
      <div>
        <a href="https://twitter.com/RUMIGENH2020?ref_src=twsrc%5Etfw" class="twitter-follow-button"
           data-size="large" data-show-count="false">Follow @RUMIGENH2020</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="10px" style="background-color: #f7f9fb">
    <div fxFlex="150px" fxLayoutAlign="left">
      <img src="assets/rumigen/project-coord.png" alt="Project Coordinator">
    </div>

    <div class="rounded-div">
      <p>Project coordinator: Eric Pailhoux (INRAE)</p>
      <p>Eric.pailhoux@inrae.fr</p>
    </div>
  </div>

  <div fxLayout="column">
    <h2> Aim & Objectives </h2>
    <p>
      RUMIGEN - Towards improvement of ruminant breeding through genomic and epigenomic approaches; aims to deliver
      breeding programs with improved sustainability for small and local breeds in diverse environmental conditions,
      considering trade-offs between breeding objectives, preservation of genetic diversity and available technologies
      (including innovations developed in the course of the project). It will also lead to new precision farming
      management indexes that combine genomic, phenotypic and epigenetic information. This aim will be achieved through
      dedicated scientific activities and a multi-actors-driven approach, taking into account societal acceptance,
      feasibility, and overall resource and economic efficiency.
    </p>

    <p>
      To deliver these new breeding programs, RUMIGEN will explore four levers.
    </p>

    <figure class="image-content">
      <img src="assets/rumigen/levers.png" alt="Levers">
      <figcaption>RUMIGEN will explore four different levers that will come together in the modelling of new breeding
        programs
      </figcaption>
    </figure>

    <h2> Social acceptance of breeding tools </h2>

    <p>
      The social acceptance of new breeding techniques will be evaluated by creating a multi-actor dialogue by which a
      feedback loop is set up. A room of acceptance and a set of future scenarios will be developed, which will be
      tested in European participatory citizen consultations. The feedback will be used to refine the room of acceptance
      and scenario's to ultimately lead to a socially accepted plan for using new breeding techniques.
    </p>

    <h2> Quantitative genetics </h2>

    <p>Large scale existing data from commercial farms, including performances, pedigrees and genotypes, combined with
      meteorological records of an extensive range of breeds (Holstein, Montbéliarde, MRY), environments (France, Spain
      and the Netherlands), and traits (production, fitness) will be studied to investigate the trade-offs of adaptation
      and heat stress. Furthermore, genomic methods will be developed to describe local breeds' genetic diversity and
      enable their genetic improvement whilst maintaining diversity. The impacts of genomic selection on local breeds
      will be assessed, and the feedback will be implemented.
    </p>

    <h2> Genome Editing </h2>
    <div fxLayout="row" style="margin-top: -30px;">
      <div fxFlex="60%" fxLayoutAlign="left center">
          Acceptable goals for genome editing in breeding programs will be defined based on dialogues with European
          breeders. The impact and efficiency of traditional and new breeding techniques will be compared, and the
          potential use of GE for welfare-related biodiversity purposes will be explored.
      </div>
      <div fxLayoutAlign="center start" fxFlex>
          <img src="assets/rumigen/genome-editing.png" alt="Genome Editing">
      </div>
    </div>

    <h2> Epigenetics </h2>
    <p>
      The epigenetic lever aims to determine the impact of environmental stressors (metabolic demands during gestation,
      heat, immunity challenge and pathogens) on the epigenetic profiles of dairy cattle. The genetic and environmental
      components of epigenetic effects will be disentangled to find the genetic switches that will turn good genes ON
      and bad genes OFF.
    </p>
    <p class="image-content">
      <img src="assets/rumigen/epigenetics.png" alt="Epigenetics">
    </p>

    <h2> Why </h2>
    <p>
      The ambition of the European Commission is to make Europe the worlds first climate-neutral continent by 2050. For
      this purpose, the EU Commission is currently drafting the roadmap for a "Farm to Fork" strategy, which aims for a
      fair, healthy, and environmentally friendly food system.
    </p>
    <p>
      By providing efficient, sustainable, and socially acceptable breeding goals and programs, innovative genomic
      prediction methods and precision management tools, the RUMIGEN project will contribute to the Farm-to-Fork
      strategy.
    </p>
    <p>
      The overriding concept behind RUMIGEN is that developing sustainable breeding in cattle, with animal health and
      welfare at the heart of it, will require a paradigm shift regarding the way that breeding goals are defined, and
      technologies are implemented in breeding schemes, as well as new knowledge and innovations.
    </p>

    <h2> Impact </h2>
    <p>
      The RUMIGEN project will have long-lasting impacts on the breeding sector, farmers, consumers, and society.
    </p>
    <p class="image-content">
      <img src="assets/rumigen/impact.png" alt="Impact">
    </p>

    <h2> Project structure and partners </h2>
    <p class="image-content">
      <img src="assets/rumigen/project-structure.png" alt="Impact">
    </p>
    <p>
      RUMIGEN is designed as a multi-actor approach that combines the expertise of 18 different partners that range from
      research institutes, management and dissemination partners to commercial companies. It represents a large part of
      the European Union. It has been established to encompass all the complementary skills and competencies required to
      maximize the reaching of RUMIGEN's ambitious objectives.
    </p>


    <p>
      RUMIGEN Website: <a href="https://rumigen.eu/" target='_blank'>RUMIGEN – Towards improvement of ruminant breeding through genomic and epigenomic approaches</a>
    </p>


    <p class="social-btn">
      Social media links:
      <span>
          <a href="https://www.facebook.com/RumigenH2020" target='_blank'><fa-icon  class="fa-3x" [icon]="faFacebook"></fa-icon></a>
        </span>
      <span>
        <a href="https://twitter.com/RUMIGENH2020" target='_blank'><fa-icon  class="fa-3x" [icon]="faTwitter"></fa-icon></a>
      </span>
      <span>
        <a href="https://www.linkedin.com/company/rumigen" target='_blank'><fa-icon  class="fa-3x" [icon]="faLinkedin"></fa-icon></a>
      </span>
      <span>
        <a
          href="https://www.researchgate.net/project/RUMIGEN"
          target='_blank'><fa-icon  class="fa-3x" [icon]="faResearchgate"></fa-icon></a>
      </span>
    </p>

    <p>
      Subscribe to the mailing list: <a
      href="https://rumigen.us6.list-manage.com/subscribe?u=ec0f5088cb4cc076ed03d4a97&id=a4bb2a3309"
      target='_blank'> RUMIGEN (list-manage.com) </a>
    </p>

  </div>
</div>

