.project-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  float: left;
  width:auto;
  height:auto;
  margin-bottom: 10px;
}

a {
  text-decoration:none;
  color:#5199a8;
}

a:hover {
  color:#8dc7d3;
}

.container{
  margin-top: 20px;
}

.social-btn span{
  margin-right: 20px;
}

.social-btn{
  margin-bottom: 20px;
}

h2{
  color: #6f9cc6;
  margin-top: 30px;
}

li {
  margin-bottom: 5px;
}

ul .disc{
  list-style-type:disc
}

ul .circle{
  list-style-type:circle
}

.image-content{
  text-align: center;
  padding: 20px
}

.rounded-div {
  border-radius: 20px;
  width: auto;
  height: auto;
  padding: 5px 30px 5px 30px;
  border-color: #d7dbdf;
  border-style: solid;
}
