<div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="10px">
  <div fxFlex="25%" fxLayoutAlign="center">
    <img src="{{setting.image.url}}" alt="Project Logo" class="project-logo">
  </div>

  <div fxLayout="column" fxLayoutAlign="center">
    <div>
      <h3>
        RUMIGEN is a multi-actor project aiming to improve genetic tools in bovine breeds through the addition of new traits such as heat tolerance, and epigenetic information.
      </h3>
    </div>
    <div>
      <h3>
        <a href="{{setting.url}}" target="_blank"> {{setting.url}} </a>
      </h3>
    </div>
    <div>
      <a href="https://twitter.com/RUMIGENH2020?ref_src=twsrc%5Etfw" class="twitter-follow-button"
         data-size="large" data-show-count="false">Follow @RUMIGENH2020</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>


