<div fxLayout="row" class="container">
  <div fxFlex="25%" fxLayoutAlign="center">
    <img src="{{setting.image.url}}" alt="Project Logo" class="small-project-logo">
  </div>

  <div fxLayout="column" fxLayoutAlign="center">
    <div>
      <h3>
        Document genome function to understand the basis for trait variation and disease resistance in farmed fish.
      </h3>
    </div>
    <div>
      <h3>
        <a href="{{setting.url}}" target="_blank"> {{setting.url}} </a>
      </h3>
    </div>
    <div>
      <a href="https://twitter.com/AQUA_FAANG?ref_src=twsrc%5Etfw" class="twitter-follow-button"
         data-size="large" data-show-count="false" target="_blank"> Follow @AQUA_FAANG </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>

