<div fxLayout="column">
  <div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="15px">
    <div fxFlex="25%" fxLayoutAlign="center">
      <img src="{{setting.image.url}}" alt="Project Logo" class="small-project-logo">
    </div>

    <div fxLayout="column" fxLayoutAlign="center">
      <div>
        <h3>
          Document genome function to understand the basis for trait variation and disease resistance in farmed fish.
        </h3>
      </div>
      <div>
        <h3>
          <a href="{{setting.url}}" target="_blank"> {{setting.url}} </a>
        </h3>
      </div>
      <div>
        <a href="https://twitter.com/AQUA_FAANG?ref_src=twsrc%5Etfw" class="twitter-follow-button"
           data-size="large" data-show-count="false" target="_blank"> Follow @AQUA_FAANG </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="project-link">
          Link to FAANG data portal: <a href="https://data.faang.org/projects/AQUA-FAANG" target='_blank'>
          FAANG (AQUA-FAANG) </a>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="10px">
    <div fxFlex="50%" fxLayoutAlign="left">
      <div>
        <img src="assets/aquafaang/project-coord-1.png" alt="Project Coordinator">
      </div>
      <div class="rounded-div">
        <p>AQUA-FAANG Coordinator: Prof. Sigbjørn Lien</p>
        <p>sigbjorn.lien@nmbu.no</p>
      </div>
    </div>

    <div fxFlex="50%" fxLayoutAlign="left">
      <div>
        <img src="assets/aquafaang/project-coord-2.png" alt="Project Coordinator">
      </div>
      <div class="rounded-div">
        <p>AQUA-FAANG Coordinator: Prof. Dan Macqueen</p>
        <p>daniel.macqueen@roslin.ed.ac.uk</p>
      </div>
    </div>
  </div>

  <div>
    <h2> Aim </h2>
    <p>
      Recent developments in genomics have advanced innovation in European aquaculture. However, despite creating
      reference-quality genome sequences for the main species, our understanding of genome functions remains limited. In
      close collaboration with end users, a new phase of research is needed to build on the recent advances in genomics
      for <b><i>sustainable, competitive and profitable</i></b> European aquaculture. Thus, the well-annotated reference
      genomes will
      have fundamental importance as a resource for the research community in both academia and industry. Moreover, the
      application of functional genomics is needed to improve genomic selection, including traits like disease
      resistance in farmed fish stocks to address the <b><i>economic impact of infectious diseases and welfare
      problems</i></b>.
    </p>

    <p>
      The AQUA-FAANG (Advancing European Aquaculture by Genome Functional Annotation) project aims to greatly improve
      our understanding of genome function in the six most commercially important European farmed fishes (Figure 1) For
      each of the species, genome-wide annotation maps will be generated. This is a tool genome scientists use to link
      the genes and gene expression with the different traits of the fish. The annotation maps will be used to achieve a
      better understanding of how the genome contributes to variation in traits of commercial relevance. We will compare
      results across the six species and investigate if there are any similarities or transferability of findings.
    </p>

    <p>
      An important aim is to improve the ability to predict traits using genomic information, paving the way for
      precision breeding to improve <b><i>disease resistance and other commercial traits</i></b> in aquaculture. The
      project combines
      world-leading interdisciplinary scientific expertise with industry, providing direct pathways to commercial
      exploitation.
    </p>

    <figure class="image-content">
      <img src="assets/aquafaang/figure-1.png" alt="Fish Species">
      <figcaption>
        Figure 1: The six fish species researched in the AQUA-FAANG project
      </figcaption>
    </figure>

    <p>
      One example is in the study of disease resistance (Figure 2), where the fish’s susceptibility can be explored by
      performing a challenge test. Fish are exposed to viruses or bacteria, and this may lead to a change in the fish’s
      genomic expression in order to survive the attack. The AQUA-FAANG genome researchers are investigating this effect
      to be able to pinpoint the genes or gene expressions that are crucial for surviving such an attack. This
      information can be very useful in breeding programs to select the more susceptible fish for breeding the next
      generations.
    </p>

    <figure class="image-content">
      <img src="assets/aquafaang/figure-2.png" alt="Links between fish's genome and its traits">
      <figcaption>
        Figure 2: The researchers are investigating links between the fish’s genome on and its traits.
      </figcaption>
    </figure>


    <h2> Objective </h2>
    <p>
      The AQUA-FAANG project will contribute to advancing European aquaculture in several ways. An overview of the
      objectives is given in Figure 3.
    </p>

    <figure class="image-content">
      <img src="assets/aquafaang/AF_Project.png" alt="Objective">
    </figure>

    <h2> Impact </h2>
    <p>
      AQUA-FAANG created an internationally leading consortium for excellence and innovation in fish genomics. The
      cluster of world experts from both academia and industry, combined with extensive training and dissemination
      activities, will create a long-term interactive hub expected to outlast the duration of the project. Project
      impacts can be summarized as:
    </p>

    <ul class="disc">
      <li>
        AQUA-FAANG will deliver comprehensive high-quality genome functional annotation maps for the six most
        economically important fish species in European aquaculture, providing insight into variation across tissues,
        life stages and experimental conditions using a range of core FAANG functional annotation assays.
      </li>
      <li>
        Pave the way for subsequent use of annotated genomes to improve precision breeding in farmed animal
        production, by linking genome to phenotype and improving means to measure/record phenotypes.
      </li>
      <li>
        The project will test and optimize approaches for prioritizing functional variations in QTL regions across
        several species and harness those variants to improve genomic selection.
      </li>
      <li>
        The project will deliver a computational pipeline that academic and commercial researchers can use to prioritize
        functional variants in candidate regions of the genome (e.g. QTL/GWAS regions) which will facilitate direct
        exploitation of functional annotation datasets for marker assisted and genomic selection application.
      </li>
      <li>
        The project will develop novel approaches to characterize and measure immune cell heterogeneity in fishes
        defining immune cellular phenotypes at an unprecedented level of accuracy, which can be used in the future to
        improve precision breeding by enhancing the information-content in recorded phenotypes in terms of host defence
        mechanisms responsible for disease resistance.
      </li>
      <li>
        Progress in understanding genotype per environment interactions and deciphering the mechanisms by which some
        effects induced by environment/stressors can be transmitted across generations.
      </li>
      <li>
        AQUA-FAANG will contribute strongly to international coordinated actions aiming to achieve standardized genome
        functional annotation in domesticated animals and fishes.
      </li>
    </ul>

    <p>
      In the long-term, activities will enhance the sustainability of farmed animal production
    </p>
    <ul>

      <li>
        A key long-term impact of AQUA-FAANG will be the project’s contribution towards improving traits of the farmed
        fish, such as enhanced disease resistance, in each of the main farmed fish species in Europe.
      </li>
      <li>
        The data and analyses produced by the project will enable and enhance follow-on research in a number of key
        areas of relevance to sustainable European aquaculture.
      </li>
    </ul>


    <div fxLayout="row" fxLayoutGap="0px">
      <div class="first-section" fxLayout="column" fxFlex="50%" fxLayoutAlign="start">
        <h2> Project structure and partners </h2>
        <p>
          The AQUA-FAANG project brings together world-leading interdisciplinary scientific expertise, with partners
          located in eight European countries. In total, there are 24 partners in the project: 15 academic partners and
          10 representing the industry.
        </p>

        <p>
          The project is structured into 9 work packages (WPs). The first six WPs are research driven and integrate
          their research across all six fish species. The figure below illustrates which of the project-specific
          objectives are covered by the different WPs. In addition, WP7 focuses on dissemination, exploitation, and
          communication, WP8 focuses on management and internal communication, while WP9 ensures that the project
          complies with current regulations and research ethics.
        </p>
      </div>
      <div class="second-section">
        <figure class="image-content">
          <img src="assets/aquafaang/project-structure.png" alt="Project Structure">
        </figure>
      </div>
    </div>

    <p>
      The project brings together knowledge from 24 diverse partners from 8 countries
    </p>

    <figure class="image-content">
      <img src="assets/aquafaang/partnermap.png" alt="Partner Map">
    </figure>

    <p>
      Link to AQUA-FAANG Fact Sheet: <a
      href="https://www.aqua-faang.eu/uploads/1/2/5/8/125827377/aqua-faang_fact_sheet_english.pdf" target='_blank'>
      AQUA-FAANG fact sheet </a>
    </p>

    <p class="social-btn">
      Social media links:
      <span>
          <a href="https://www.facebook.com/aquafaang/" target='_blank'><fa-icon class="fa-3x"
                                                                                 [icon]="faFacebook"></fa-icon></a>
        </span>
      <span>
        <a href="https://twitter.com/AQUA_FAANG" target='_blank'><fa-icon class="fa-3x"
                                                                          [icon]="faTwitter"></fa-icon></a>
      </span>
      <span>
        <a
          href="https://www.linkedin.com/company/aqua-faang-advancing-european-aquaculture-by-genome-functional-annotation/"
          target='_blank'><fa-icon class="fa-3x"
                                   [icon]="faLinkedin"></fa-icon></a>
      </span>
      <span>
        <a href="https://www.youtube.com/channel/UCTNB8Nqd4NxIGPbPcJeMRDQ" target='_blank'><fa-icon class="fa-3x"
                                                                                                    [icon]="faYoutube"></fa-icon></a>
      </span>
      <span>
        <a
          href="https://www.researchgate.net/project/AQUA-FAANG-2"
          target='_blank'><fa-icon class="fa-3x" [icon]="faResearchgate"></fa-icon></a>
      </span>
    </p>


    <div fxLayout="row" fxLayoutGap="10px">
      <div fxLayoutAlign="center center">
        Subscribe to our mailing list: <a
        href="https://gmail.us3.list-manage.com/subscribe?u=533349f4a34495ea17de7076a&id=8ea4071373"
        target='_blank'> EFFAB (list-manage.com) </a>
      </div>
      <div>
        <img src="assets/aquafaang/code.png" alt="Code">
      </div>
    </div>


    <p>
      For more information on the AQUA-FAANG project: <a href="https://www.aqua-faang.eu/" target='_blank'>Home
      (aqua-faang.eu)</a>
    </p>

    <p></p>

  </div>

</div>

