<div fxLayout="column">
  <div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="10px">
    <div fxFlex="25%" fxLayoutAlign="center">
      <img src="{{setting.image.url}}" alt="Project Logo" class="project-logo">
    </div>

    <div fxLayout="column" fxLayoutAlign="center">
      <div>
        <h3>
          GEroNIMO will work on chicken and pig, the most used sources of animal protein worldwide, to provide breeders
          with new knowledge and tools to promote innovative genome
          and epigenome enabled selection methods for traits related to production (quantity and quality), efficiency,
          productive longevity, fertility, resilience and welfare.
        </h3>
      </div>
      <div>
        <h3>
          <a href="{{setting.url}}" target="_blank"> {{setting.url}} </a>
        </h3>
      </div>
      <div>
        <a href="https://twitter.com/GeronimoH2020?ref_src=twsrc%5Etfw" class="twitter-follow-button"
           data-size="large" data-show-count="false">Follow @GeronimoH2020</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="10px">
    <div fxFlex="25%" fxLayoutAlign="left">
      <img src="assets/geronimo/project-coord.png" alt="Project Coordinator">
    </div>

    <div fxLayoutAlign="center center">
      <div class="rounded-div">
        Project coordinators: Fréderique Pitel and Tatiana Zerjal (INRAE)
      </div>
    </div>

  </div>

  <div>
    <h2>Aim</h2>

    <p>
      To face human population growth, increasing environmental constraints and changes in socio-cultural values, animal
      breeding must evolve toward a more sustainable model that guarantees production while promoting efficient resource
      use, animal health and welfare, and preserving genetic diversity. Thanks to recent advancements in omics
      technologies, it is now possible to rethink breeding, taking advantage of improved knowledge on genome-to-phenome
      relationships that account for genetic and non-genetic mechanisms controlling traits.
    </p>
    <p>
      GEroNIMO will work on chicken and pig, the most used sources of animal protein worldwide, to provide breeders with
      new knowledge and tools to promote innovative genome- and epigenome enabled selection methods for traits related
      to production (quantity and quality), efficiency, productive longevity, fertility, resilience and welfare.
    </p>


    <h2>Objectives</h2>
    The GEroNIMO project's objectives include:
    <ul class="disc">
      <li>A genome-wide sampling of phenotypic and genomic data for efficient livestock production (ELP) traits of pigs
        and poultry and investigate the genetic and epigenetic determinisms of these traits
      </li>
      <li>Determine the impact of environmental factors and genetic selection on epigenetic variation</li>
      <li>Assessment and improvement of biodiversity management using phenotypic, genetic and epigenetic information
      </li>
      <li>Development and validation of predictive breeding models using epigenetic profiles and other functional
        genomic information
      </li>
      <li>Integrative assessment of genomic innovations including ethics and social sciences</li>
    </ul>


    <h2>Why</h2>
    <ul class="disc">
      <li>Pig and poultry productions contribute directly to livelihoods and food security, representing the most used
        and preferred animal protein sources worldwide.
      </li>
      <li>With an increasing human population, improved economic conditions in developing countries, and consumer
        preferences, the demand for animal products is increasing
      </li>
      <li>The breeding sector needs to find solutions that are cost and resource-efficient to move toward a sustainable
        animal production
      </li>
    </ul>
    <p>
      The tools and knowledge provided by the GEroNIMO project will allow proposing better (epi)genomic prediction
      models that will improve the accuracy of selection to guarantee enhanced production efficiency and product quality
      while promoting resilience, animal health and welfare, and ensuring sustainable use of resources. The project
      outcomes will also contribute to the Farm to Fork strategy and sustainable development goals.
    </p>


    <h2>Impact</h2>
    <p>
      The GEroNIMO project will contribute to developing sustainable and welfare-friendly animal systems by improving
      knowledge of (epi)genome-to-phenome relationships, taking into account genetic and non-genetic mechanisms and
      epigenetic diversity.
    </p>
    <p>
      Expected impacts for breeding companies and farmers are:
    </p>
    <ul class="disc">
      <li>New statistical models lead to a more balanced selection, taking into account trade-offs and biological impact
        of environmental variability
      </li>
      <li>Cost-effective biomarkers for routine use in improved prediction of traits (meat and egg quality, reproductive
        quality, detrimental behaviours)
      </li>
      <li>Improved conservation options for genetic diversity among and within breeds
      </li>
      <li>Evaluation of the feasibility and social acceptability of new genome enabled breeding techniques
      </li>
    </ul>
    Expected environmental and social impacts:
    <ul class="disc">
      <li>Reduced environmental impact of monogastric production systems by providing tools and knowledge to enhance
        productivity and improve feed efficiency
      </li>
      <li>New solutions to reduce welfare and health problems occurring in intensive poultry production
      </li>
      <li>The preservation of traditional sustainable production systems and related local economies by providing
        phenotyping and (epi)genomics strategies for local breeds
      </li>
    </ul>


    <h2>Project structure and partners</h2>

    <figure class="image-content">
      <img src="assets/geronimo/project-struture.png" alt="Project Structure">
      <figcaption>The project consists of 3 pillars: (epi)genetics, management & dissemination and breeding models and
        genomic innovations
      </figcaption>
    </figure>

    <p>
      The project is constructed using a multi-actor approach considering the involvement of all parties – private and
      academic-, to ensure relevant questions and efficient knowledge transfer throughout the project stages.
    </p>
    <p>
      The consortium brings together the expertise of 21 Partners: 13 European research institutes and higher education
      organisations, three management and dissemination partners and 5 SME's / associations of private partners
    </p>

    <figure class="image-content">
      <img src="assets/geronimo/partner-map.png" alt="Partner Map">
      <figcaption>Partner Map</figcaption>
    </figure>


    <p>
      For more information: <a href="https://www.geronimo-h2020.eu/" target='_blank'>GEroNIMO (geronimo-h2020.eu)</a>
    </p>

    <p class="social-btn">
      <span>
        Social media links:
      </span>
      <span>
        <a href="https://www.linkedin.com/company/geronimoh2020/?viewAsMember=true" target='_blank'><fa-icon
          class="fa-3x"
          [icon]="faLinkedin"></fa-icon></a>
      </span>
      <span>
        <a href="https://twitter.com/GeronimoH2020" target='_blank'><fa-icon class="fa-3x" [icon]="faTwitter"></fa-icon></a>
      </span>
      <span>
          <a href="https://www.facebook.com/GEroNIMO.H2020" target='_blank'><fa-icon class="fa-3x"
                                                                                     [icon]="faFacebook"></fa-icon></a>
        </span>
    </p>

    <p>
      And subscribe to the mailing list: <a
      href="https://geronimo-h2020.us6.list-manage.com/subscribe?id=79d3574597&u=4bd3959199b4478a0be6041d8"
      target='_blank'> GEroNIMO (list-manage.com) </a>
    </p>

    <p>
      Link to FAANG data portal: <a href="https://data.faang.org/projects/GEroNIMO" target='_blank'>
      FAANG Data Portal (GEroNIMO) </a>
    </p>

  </div>
</div>


