<div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="10px">
  <div fxFlex="25%" fxLayoutAlign="center">
    <img src="{{setting.image.url}}" alt="Project Logo" class="project-logo">
  </div>

  <div fxLayout="column" fxLayoutAlign="center">
    <div>
      <h3>
        GEroNIMO will work on chicken and pig, the most used sources of animal protein worldwide, to provide breeders with new knowledge and tools to promote innovative genome
        and epigenome enabled selection methods for traits related to production (quantity and quality), efficiency, productive longevity, fertility, resilience and welfare.
      </h3>
    </div>
    <div>
      <h3>
        <a href="{{setting.url}}" target="_blank"> {{setting.url}} </a>
      </h3>
    </div>
    <div>
      <a href="https://twitter.com/GeronimoH2020?ref_src=twsrc%5Etfw" class="twitter-follow-button"
         data-size="large" data-show-count="false">Follow @GeronimoH2020</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>

