<mat-toolbar>
  <mat-toolbar-row>
    <span> <img src="/assets/logos/eurofaang-logo.png" alt="image" class="header-logo"></span>
    <span class="menu-spacer"></span>

    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
      <a mat-button [routerLink]="'/'" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>home</mat-icon>
        <span class="link-text">Home</span></a>
      <a mat-button [routerLink]="'/about'" routerLinkActive="activebutton">
        <mat-icon>format_align_justify</mat-icon>
        <span class="link-text">About</span></a>
      <a mat-button [matMenuTriggerFor]="projects" [ngClass]="{activebutton:isProjectSelected()}">
        <mat-icon>unfold_more</mat-icon>
        <span class="link-text">Projects</span></a>
      <mat-menu #projects="matMenu">
        <a mat-menu-item [routerLink]="'/projects/aquafaang'" routerLinkActive="activebutton">AQUA-FAANG</a>
        <a mat-menu-item [routerLink]="'/projects/bovreg'" routerLinkActive="activebutton">BovReg</a>
        <a mat-menu-item [routerLink]="'/projects/geneswitch'" routerLinkActive="activebutton">GENE-SWitCH</a>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

