<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <div fxLayout="row" fxLayoutAlign="center center" fxFill>
        <div fxFlex.lt-sm="90" fxFlex.lt-md="80" fxFlex="1140px">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>


