body{
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: Open Sans,Myriad Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
  word-wrap: normal;
  color: #494949;
  font-size: 15px;
}









