<div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="15px">
  <div fxFlex="25%" fxLayoutAlign="center">
    <img src="{{setting.image.url}}" alt="Project Logo" class="project-logo">
  </div>

  <div fxLayout="column" fxLayoutAlign="center">
    <div>
      <h3>
        Identify genome features whose activity, during development and when facing environmental challenges, determines complex traits
        in chicken and pigs.
      </h3>
    </div>
    <div>
      <h3>
        <a href="{{setting.url}}" target="_blank"> {{setting.url}} </a>
      </h3>
    </div>
    <div>
      <a href="https://twitter.com/GeneSwitch?ref_src=twsrc%5Etfw" class="twitter-follow-button"
         data-size="large" data-show-count="false" target="_blank">Follow @GeneSwitch</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
