<div fxLayout="column">
  <div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="15px">
    <div fxFlex="25%" fxLayoutAlign="center">
      <img src="{{setting.image.url}}" alt="Project Logo" class="project-logo">
    </div>

    <div fxLayout="column" fxLayoutAlign="center">
      <div>
        <h3>
          Identify genome features whose activity, during development and when facing environmental challenges,
          determines complex traits
          in chicken and pigs.
        </h3>
      </div>
      <div>
        <h3>
          <a href="{{setting.url}}" target="_blank"> {{setting.url}} </a>
        </h3>
      </div>
      <div>
        <a href="https://twitter.com/GeneSwitch?ref_src=twsrc%5Etfw" class="twitter-follow-button"
           data-size="large" data-show-count="false" target="_blank">Follow @GeneSwitch</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" class="container" fxLayoutGap="10px">
    <div fxFlex="50%" fxLayoutAlign="left">
      <div>
        <img src="assets/gene-switch/project-coord.png" alt="Project Coordinator">
      </div>
      <div class="rounded-div">
        <p>Project coordinator: Elisabetta Giuffra</p>
        <p>elisabetta.giuffra@inrae.fr</p>
      </div>
    </div>

    <div fxFlex="50%" fxLayoutAlign="left">
      <div>
        <img src="assets/gene-switch/project-deputy-coord.png" alt="Project Deputy Coordinator">
      </div>
      <div class="rounded-div">
        <p>Project deputy coordinator: Hervé Acloque</p>
        <p>herve.acloque@inrae.fr</p>
      </div>
    </div>
  </div>

  <div>
    <p class="top-spacer">
      GENE-SWitCH (the regulatory GENomE of SWine and CHicken: functional annotation during development) will deliver
      new underpinning knowledge on the functional genomes of two main monogastric farm species (pig and chicken) and
      enable its immediate translation to the pig and poultry sectors.
    </p>

    <div class="enclosed-text">
      <h2> Why a focus on developmental stages? </h2>
      <p>
        The activation status of the functional (coding and regulatory) elements of the genome varies not only between
        cells and tissues but also over time. During the development <i>in ovo</i> and <i>in utero</i>, several functional
        elements
        orchestrate the temporal dynamics (“switches”) and tissue-specificity of genome activities, thus underpinning key
        steps in the determination of the phenotypes of the adult animal. These elements are often inactivated in adult
        tissues and therefore missed by the functional annotations of the genomes of farmed animal species. Filling this
        annotation gap is essential in studying the impact of the genetic and epigenetic variations of the genome on the
        phenotypes of relevance for sustainable animal productions.
      </p>
    </div>




    <div fxLayout="row" fxLayoutGap="0px">
      <div class="first-section" fxLayout="column" fxFlex="50%" fxLayoutAlign="start">
        <h2> Aims </h2>

        <h3> A: Functional annotations across tissues and developmental stages </h3>
        <p>
          GENE-SWitCH will identify the functional elements acting in three different developmental stages (early
          organogenesis, late organogenesis and newborn/hatched) in a panel of seven tissues of pigs and chickens. The
          annotations will be integrated into the existing annotations in FAANG to deliver comprehensive genome annotation
          maps from embryo/foetus through adult life. Comparative genomic studies to identify patterns of conservation and
          variation will be carried out within this project (i.e. bird vs. mammal) and in collaboration with EuroFAANG
          partners.
        </p>

        <h3> B: Using functional annotation for precision animal breeding </h3>
        <p>
          The new reference annotation maps will provide excellent support to empirically investigate the potential benefit
          of the use of functional genome annotation for precision animal breeding:
          Genomic selection – to develop and validate innovative genomic prediction models that use functional annotation in
          combination with genotypic (SNPs, sequence variants) and phenotypic data, including intermediate phenotypes, to
          improve prediction accuracy of breeding values in commercial populations.
        </p>
        <p>
          <i>Diet X epigenetics</i> - to assess if and how varying fibre content in the maternal diet (a major environmental
          factor) affects the epigenetic patterns of the pig foetus, and the possible persistence of epigenetic marks
          through the weaning stage.
        </p>

        <h3> C: Standardization of data and processes, dissemination and outreach </h3>
        <p>
          A wide set of dissemination, training and outreach activities will be developed to better inform European
          stakeholders on the benefits from an increased understanding of the value of genetic information including richly
          annotated high-quality genome sequences. The ultimate goal will be to fit stakeholders’ needs and expectations for
          improving the sustainability of the pig and poultry production systems.
        </p>

      </div>
      <div class="second-section">
        <figure class="image-content">
          <img src="assets/gene-switch/concept.png" alt="Concept">
          <figcaption>GENE-SWitCH Concept (P: promoter, E1-4: enhancers; SNP1-4: single nucleotide polymorphism).
          </figcaption>
        </figure>
      </div>
    </div>


    <h2> Expected impact </h2>

    <ul class="disc">
      <li> High-quality, richly annotated reference annotation maps for pig and chicken available to the whole research
        community.
      </li>
      <li> Cutting-edge research results paving the way to further studies and strategies in fundamental and applied
        animal sciences:
        <ul class="circle">
          <li> Adding up knowledge that associates the effects of genetic polymorphisms with fetal genome activity and
            their consequences for adult phenotypes.
          </li>
          <li> Demonstration on how functional annotation of genomes can foster the advancement of genomic selection for
            chicken and swine productions.
          </li>
          <li> Underpinning knowledge on the epigenetic effects of nutritional stimuli on the foetal genome and on their
            possibly persistence in adulthood to affect phenotypes.
          </li>
        </ul>
      </li>
      <li> European stakeholders benefit from an increased understanding of the value of functional genome annotation to
        face current and future challenges to achieve sustainable productions.
      </li>
    </ul>

    <h2> Project structure and partners </h2>

    <div fxLayout="row" fxLayoutGap="0px">
      <div>
        <figure class="image-content">
          <img src="assets/gene-switch/wp-plan.png" alt="Project Structure">
        </figure>
      </div>
      <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center">
        <p>
          The project is structured in three pillars (1, 2, 3) and organised in eight WPs: WP1, 2 and 3 (light blue), WP4
          and 5 (green), WP3 and 6 (dark blue), plus project coordination and ethical aspects (WP7, WP8).
        </p>
      </div>
    </div>


    <div fxLayout="row" fxLayoutGap="0px">
      <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center">
        <p>
          GENE-SWitCH is a multi-actor project which brings together 11 partners representing European excellence, including
          partners who pioneered the worldwide FAANG initiative and two international leading companies in animal breeding
          and biotech industry.
        </p>
      </div>
      <div>
        <figure class="image-content">
          <img src="assets/gene-switch/consortium.png" alt="Consortium">
        </figure>
      </div>
    </div>


    <p class="image-content top-spacer">
      <img src="assets/gene-switch/selfie-wall.png" alt="Selfie Wall">
    </p>


    <p class="social-btn">
      Social media links:
      <span>
          <a href="https://www.facebook.com/GENESWitCHEU/" target='_blank'><fa-icon class="fa-3x"
                                                                                    [icon]="faFacebook"></fa-icon></a>
        </span>
      <span>
        <a href="https://twitter.com/GeneSwitch" target='_blank'><fa-icon class="fa-3x"
                                                                          [icon]="faTwitter"></fa-icon></a>
      </span>
      <span>
        <a href="https://www.linkedin.com/company/gene-switch/" target='_blank'><fa-icon class="fa-3x"
                                                                                         [icon]="faLinkedin"></fa-icon></a>
      </span>
      <span>
        <a href="https://www.youtube.com/channel/UCiBRC_rYhVvxyFvLveZRAHg" target='_blank'><fa-icon class="fa-3x"
                                                                                                    [icon]="faYoutube"></fa-icon></a>
      </span>
      <span>
        <a
          href="https://www.researchgate.net/project/GENE-SWitCH"
          target='_blank'><fa-icon class="fa-3x" [icon]="faResearchgate"></fa-icon></a>
      </span>
    </p>

    <p>
      Subscribe to our mailing list: <a
      href="https://gene-switch.us4.list-manage.com/subscribe?u=52a5c5d8ce9c2c3b0e78edc7c&id=61015070b4"
      target='_blank'> GENE-SWitCH (list-manage.com) </a>
    </p>
    <p></p>

  </div>
</div>


