<div class="container" fxLayout="column" fxLayoutGap="40px">

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="30%">
      <img src="/assets/logos/eurofaang-logo.png" alt="EuroFAANG" class="project-logo">
    </div>

    <div class="twitter-container" fxFlex="70%">
      <a class="twitter-timeline" href="https://twitter.com/EuroFaang"
         data-height="300"
         data-theme="light"
         data-width="650"
         data-chrome="noborders nofooter noscrollbar transparent"
      >
        Tweets by EuroFaang
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <div>
    <h2> Accelerating genome to phenome research for farmed animals in Europe </h2>

    EuroFAANG is a coordinated effort to unravel the connection between the genetic make-up of an animal and the
    observable physical and physiological traits. The EuroFAANG projects aim to address challenges in farmed animal
    production.
  </div>

</div>
