.project-logo {
  max-width:250px;
  max-height:250px;
  float: left;
  width:auto;
  height:auto;
  margin-bottom: 10px;
}

.container {
  margin-top: 20px;
}

.twitter-container {
  font-family: sans-serif;
  font-size: 2em;
  margin-left: 10px;
}
