.project-logo {
  max-width:250px;
  max-height:250px;
  float: left;
  width:auto;
  height:auto;
  margin-bottom: 10px;
}


.container {
  margin-top: 20px;
}

.twitter-container {
  font-family: sans-serif;
  font-size: 2em;
  margin-left: 10px;
  background-color: #f5f5f5;
}

.item-1 {
  background-color: #009169;
}

.item-2 {
  background-color: #55b296;
}

.item-3 {
  background-color: #9fd3c3;
}

.item-4 {
  background-color: lightpink;
}

.item-5 {
  background-color: lightgoldenrodyellow;
}
